.stray-list {
  padding: 30px;
}

.ScribbleListPage > h4 {
  font-family: "Pacifico", cursive;
  margin-top: 20px;
  text-shadow: 2px 2px 2px #7b3c3c;
  display: inline-block;
}

.stray-item:hover {
  color: #a9294f;
}
